span {
    display: inline-block;
}

tr[class="read"] {
    background-image: linear-gradient(to right, #d4edda, #ffffff);
}

tr[class="to-read"] {
    background-image: linear-gradient(to right, #fff3cd, #ffffff);
}

tr[class="in-progress"] {
    background-image: linear-gradient(to right, #d1ecf1, #ffffff);
}

tr[class="to-read"] span[class="status"] {
    border: 1px solid #ffc107;
    background-image: linear-gradient(#fff3cd, #ffc107);
}

tr[class="read"] span[class="status"] {
    border: 1px solid #28a745;
    background-image: linear-gradient(#d4edda, #28a745);
}

tr[class="in-progress"] span[class="status"] {
    border: 1px solid #17a2b8;
    background-image: linear-gradient(#d1ecf1, #17a2b8);
}

span[class="status"],
span[class^="rate"] {
    height: 30px;
    width: 120px;
    padding: 5px;
}

span[class^="rate"] > span {
    border: 1px solid #ced4da;
    border-radius: 50%;
    margin: 0 3px;
    height: 20px;
    width: 20px;
    background-color: #f8f9fa;
}

span[class~="one"] span:first-child {
    background-image: linear-gradient(#ffd700, #ffa500);
}

span[class~="two"] span:nth-child(1),
span[class~="two"] span:nth-child(2) {
    background-image: linear-gradient(#ffd700, #ffa500);
}

span[class~="three"] span {
    background-image: linear-gradient(#ffd700, #ffa500);
}
